@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800;900&family=Cairo:wght@300;400;500;600;700;800&display=swap");
:root {
  --purple-color: #6b00e3;
  --body-color: #121128;
  --box-color: #211c3d;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
  line-height: 1.15;
}
body {
  margin: 0;
  background-color: var(--body-color);
  overflow-x: hidden;
}
::selection {
  color: white;
  background-color: var(--purple-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  width: 90vw;
  margin: auto;
}
::-webkit-scrollbar {
  background-color: var(--box-color);
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple-color);
  border-radius: 20px;
}
/* Start Header */
header {
  background-color: var(--box-color);
  padding: 15px 0;
  position: fixed;
  width: 100vw;
  z-index: 9;
  bottom: 0;
}
header .container .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
header .container .links a {
  position: relative;
  margin-bottom: 5px;
}
header .container .links a span {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #a9a9a9;
  transition: 0.3s;
}
header .container .links a:hover span {
  width: 130%;
  border-radius: 6px;
}
header .container .links a::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: #3f3f3f transparent transparent transparent;
  transition: 0.3s;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
}
header .container .links a:hover::after {
  transform: translateX(-50%) scaleY(1);
  transform-origin: top;
}
header .container .links a:hover::before {
  transform: translateX(-50%) scaleY(1);
  padding: 7px;
  transform-origin: bottom;
}
header .container .links a::before {
  position: absolute;
  top: -51px;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transition: 0.3s;
  color: white;
  background-color: #3f3f3f;
  padding: 0;
  font-size: 20px;
  border-radius: 6px;
  transition: 0.3s;
  overflow: hidden;
}
header .container .links a:nth-child(1)::before {
  content: "الرئيسية";
}
header .container .links a:nth-child(2)::before {
  content: "التسجيل";
}
header .container .links a:nth-child(3)::before {
  content: "الإختبارات";
}
header .container .links a:nth-child(4)::before {
  content: "المسابقات";
}
header .container .links i {
  font-size: 27px;
  color: white;
}
header .container .links img {
  height: 32px;
}
/* End Header */
/* Start About */
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  flex-wrap: wrap-reverse;
  gap: 100px;
}
.about .container .info {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  flex-basis: 55%;
}
.about .container .info h1 {
  font-size: 48px;
  margin: 0;
  text-align: right;
}
.about .container .info p {
  margin: 0;
  font-size: 30px;
  text-align: right;
  line-height: 1.8;
  color: gainsboro;
}
.about .container .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container img:nth-child(1) {
  z-index: 9;
  position: absolute;
  width: 520px;
  box-shadow: 0px 0px 150px 16px var(--purple-color);
  border-radius: 257px;
}
.about .container img {
  width: 600px;
}
@media (max-width: 1728px) {
  .about .container img:nth-child(1) {
    width: 375px;
  }
  .about .container img {
    width: 450px;
  }
  .about .container .info {
    flex-basis: 52%;
  }
}
@media (max-width: 1273px) {
  .about .container img:nth-child(1) {
    width: 325px;
  }
  .about .container img {
    width: 390px;
  }
  .about .container .info h1 {
    font-size: 42px;
  }
  .about .container .info p {
    font-size: 22px;
  }
}
.about .container .links {
  display: flex;
  justify-content: right;
  gap: 30px;
}
.about .container .links a {
  background-color: var(--purple-color);
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  gap: 15px;
  align-items: center;
}
@media (max-width: 1134px) {
  .about .container img:nth-child(1) {
    width: 43vw;
    box-shadow: 0px 0px 177px 35px var(--purple-color);
  }
  .about .container img {
    margin-top: 30px;
    width: calc(40vw + 100px);
  }
  .about .container .info {
    flex-basis: 100%;
  }
  .about .container .info h1 {
    text-align: center;
    font-size: 48px;
  }
  .about .container .info p {
    font-size: 30px;
    text-align: center;
  }
  .about .container .links {
    justify-content: center;
  }
}
/* End About */
